/* Animal Section */
.animals-section {
  background-color: #58A5B7;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10px 0 10px;
}

.animals-section .content {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.animals-section .content h2 {
  font-size: 52px;
  color: #F90B1B;
  font-weight: 900;
  line-height: 70px;
  margin: 0 auto;
}

.animals-section .content h4 {
  font-size: 30px;
  color: white;
  font-weight: 900;
  line-height: 70px;
  margin: 0 auto;
  text-align: center;
}

.animals-section .content p {
  font-weight: 500;
  max-width: 500px;
  font-size: 16px;
  margin: 0;
  padding: 0 3px;
  text-align: left;
  color: black;
}

.animals-section .end .btn {
  margin-top: 28px;
  background: #C0690A;
  color: white;
  border: 2px solid #C0690A;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  align-items: center;
  padding: 10px 30px;
  display: block;
  margin-left: auto;
}

.animals-section .end .btn:hover {
  margin-top: 28px;
  background: #C0690A;
  color: white;
  border: 2px solid #C0690A;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  align-items: center;
  padding: 10px 30px;
  display: block;
  margin-left: auto;
}

.btn i {
  padding: 0 5px;
}


.line {
  height: 5px;
  background-color: #C0690A;
  width: 30%;
  margin: 10px auto 0;
}

/* Grid Section */
.grid {
  padding: 60px 20px 120px;
}

.grid .grid_container .updates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section_container .btn-more {
  float: right;
  margin-top: 28px;
  background: #C0690A;
  color: white;
  padding: 12px 35px;
  border: 2px solid #C0690A;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.section_container .btn-more:hover {
  transform: scale(1.1);
}

.section_container .grid_items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: #D9D9D9;
  padding: 15px 10px 20px 10px;
  border-radius: 10px;
}

.section_container .grid_items img {
  width: 100%;
  height: 250px;
  max-height: 250px;
  object-fit: cover;
}

.grid_items .grid_text {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center horizontally */
  text-align: center;
  /* Center text */
}


.grid_items .grid_text .btn {
  background: #C0690A;
  color: white;
  padding: 12px 35px;
  border: 2px solid #C0690A;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.grid_items .grid_text .btn:hover {
  text-decoration: underline;
}

.grid_items .grid_text h3 {
  margin: 15px 0;
  font-weight: 800;
  font-size: 20px;
  color: black;
}

.grid_items .grid_text p {
  font-size: 14px;
  padding: 10px 20px;
  color: black;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  color: black;
  margin-bottom: 10px;
}

.custom-list li i {
  color: #2CD748;
  margin-bottom: 10px;
}


/* Pagination */
.pagination-container {
  text-align: center;
  margin: 20px 0;
  float: right;
}

.pagination {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: black;
  background-color: #ddd;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Active Page */
.pagination a.active {
  background-color: #C0690A;
  color: white;
  border-color: #C0690A;
}

/* Hover Effect */
.pagination a:hover {
  background-color: #6d3d09;
  color: white;
}

/* Disabled Page Link */
.pagination a.disabled {
  color: #aaa;
  pointer-events: none;
  background-color: #f0f0f0;
}


/* Solo Section */
.solo-section {
  background-color: #58A5B7;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10px 0 10px;
}

.solo-section .content {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  color: black;
}

.solo-box {
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 2% 3%;
}

.solo-section .content h2 {
  font-size: 52px;
  color: black;
  font-weight: 900;
  margin: 0 auto;
}

.solo-section .content h3 {
  margin: 15px 0;
  font-weight: 800;
  font-size: 20px;
  color: black;
}

.solo-section .content .btn {
  background: #C0690A;
  color: white;
  padding: 12px 35px;
  border: 2px solid #C0690A;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.solo-section .content .btn:hover {
  transform: scale(1.2);
}

.solo-section .picture-frame {
  background-image: url("assets/profile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 20px auto;
}

.solo-section .picture-frame img {
  width: 310px;
  height: 350px;
  max-height: 370px;
  object-fit: cover;
  margin-top: 100px;
  transform: rotate(-3deg);
  margin-left: 37px;
}

.form-section {
  background-color: #58A5B7;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 10px 0 10px;
  margin: 0 auto;
}

.form-section img {
  width: 70px;
  padding-right: 2px;
}

.form-section .content h4 {
  margin: 15px 0;
  font-weight: 800;
  font-size: 30px;
  color: black;
  text-align: center;
}

.asterisk {
  color: red;
}

.error-message {
  font-size: 0.875rem !important;
  /* Adjust the size as needed */
  margin-top: 0.25rem !important;
  /* Space between input and error message */
  color: #dc3545;
}

.is-invalid {
  border-color: #dc3545 !important;
}

#applicationForm {
  max-width: 83%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
}

#applicationForm .form-header {
  display: flex;
  gap: 5px;
  text-align: center;
  font-size: 0.9em;
}

#applicationForm .form-header .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}

#applicationForm .form-header .stepIndicator.active {
  font-weight: 600;
}

#applicationForm .form-header .stepIndicator.finish {
  font-weight: 600;
  color: #009688;
}

#applicationForm .form-header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}

#applicationForm .form-header .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}

#applicationForm .form-header .stepIndicator.finish::before {
  background-color: #58A5B7;
  border: 3px solid #b7e1dd;
}

#applicationForm .form-header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}

#applicationForm .form-header .stepIndicator.active::after {
  background-color: #a7ede8;
}

#applicationForm .form-header .stepIndicator.finish::after {
  background-color: #58A5B7;
}

#applicationForm .form-header .stepIndicator:last-child::after {
  display: none;
}

#applicationForm input,
#applicationForm select {
  padding: 15px 20px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-top: 8px;
}

#applicationForm input:focus,
#applicationForm select:focus {
  border: 1px solid #58A5B7;
  outline: none;
}

#applicationForm input.invalid {
  border: 1px solid #ffaba5;
}

#applicationForm .step {
  display: none;
}

#applicationForm .form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#applicationForm .form-footer button {
  background-color: #58A5B7;
  border: 1px solid #58A5B7;
  color: #ffffff;
  padding: 13px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

#applicationForm .form-footer button:hover {
  opacity: 0.8;
}

#applicationForm .form-footer #prevBtn {
  background-color: #fff;
  color: #58A5B7;
  border: 1px solid #58A5B7;
}


/* For tablets and mobile devices */
@media (max-width: 768px) {
  #applicationForm {
    max-width: 95%;
    padding: 30px 20px;
  }

  #applicationForm input,
  #applicationForm select {
    padding: 12px 15px;
    font-size: 0.9em;
  }

  #applicationForm .form-footer button {
    padding: 10px 25px;
    font-size: 0.9em;
  }

  .grid {
    padding: 30px 20px 60px;
  }

  .grid .grid_container .process {
    grid-template-columns: 2fr;
    gap: 20px;
  }

  .grid .grid_container .updates {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .solo-section .picture-frame {
    background-image: url("assets/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 360px;
    height: 360px;
    overflow: hidden;
    margin: 55px auto;
  }
  
  .solo-section .picture-frame img {
    width: 220px;
    height: 250px;
    max-height: 320px;
    object-fit: cover;
    margin-top: 75px;
    transform: rotate(-3deg);
    margin-left: 32px;
  }

}

/* For mobile devices */
@media (max-width: 480px) {
  .grid_items .grid_text h3 {
    font-size: 18px;
  }

  .grid_items .grid_text p {
    font-size: 12px;
  }

  #applicationForm {
    padding: 20px 15px;
    box-shadow: none;
    max-width: 100%;
  }

  #applicationForm input,
  #applicationForm select {
    padding: 10px 12px;
    font-size: 0.8em;
  }

  #applicationForm .form-footer {
    flex-direction: column;
    gap: 10px;
  }

  #applicationForm .form-footer button {
    width: 100%;
    padding: 8px 20px;
    font-size: 0.8em;
  }

  .form-section h4 {
    font-size: 1.2rem !important; /* Smaller font size for tablets */
  }

  .solo-section h2 {
    font-size: 1.5rem !important;  /* Adjust this size as needed */
  }

  .solo-section .picture-frame {
    background-image: url("assets/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 325px;
    height: 325px;
    overflow: hidden;
    margin: 15px auto;
  }
  
  .solo-section .picture-frame img {
    width: 190px;
    height: 220px;
    max-height: 320px;
    object-fit: cover;
    margin-top: 75px;
    transform: rotate(-3deg);
    margin-left: 32px;
  }
}

/* For mobile devices */
@media (max-width: 420px) {
  .solo-section .picture-frame {
    background-image: url("assets/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 325px;
    height: 325px;
    overflow: hidden;
    margin: 15px auto;
  }
  
  .solo-section .picture-frame img {
    width: 190px;
    height: 220px;
    max-height: 320px;
    object-fit: cover;
    margin-top: 75px;
    transform: rotate(-3deg);
    margin-left: 32px;
  }

}

@media (max-width: 360px) {
  #applicationForm {
    padding: 15px 10px;
  }

  #applicationForm input,
  #applicationForm select {
    padding: 8px 10px;
    font-size: 0.75em;
  }

  #applicationForm .form-footer button {
    padding: 6px 15px;
    font-size: 0.75em;
  }
}